body {
    margin: 0;
    background-color: #1F2937;
    font-family: 'Karla';
}

.container{
    display:flex;
    flex-direction: column;
}

.text{
    text-align: center
}

#title{
    margin: 60px 90px -10px -200px;
    color: #FFFFFF;
    font-weight:800px;
    font-size:40px;
}

#second_title{
    margin: 0px 90px 0px -70px;
    color: #4ADF86;
    font-weight:800px;
    font-size:40px;
}

#alertMsg{
    margin: -15px 50px 10px -55px;
    color: #D5D4D8;
    font-family: 'Inter';
}


#gen{
    width:200px;
    margin: 30px 60px 10px -220px;
    font-family: 'Inter';
    color: white;
    border-radius:5px;
    background-color: #10B981;
    padding: 10px 5px 30px 5px;
}



#line{
    background-color: #2F3E53;
    height:1px;
    border:0px;
    width:485px;
    margin: 20px auto;
    
}

.password{
    text-align: center;
    margin:-20px auto;
    
}

#first_pw , #second_pw{
    display:inline-block;
    width:230px;
    height:39px;
    background-color: #273549;
    border-radius:6px;
    color: #55F991;
    font-weight: bold;
    font-size:20px;
}



button{
    width:230px;
    height:39px;
    background-color: #273549;
    border-radius:6px;
    color: #55F991;
}

#btn-copy-first,#btn-copy-second{
    width:100px;
}